<h1 class="m-4">Stupid Coaching</h1>
<h5 class="m-4">Ask your coach anything</h5>

<%# <form method="get" action="/answer">
  <input type="text" name="key">
  <input type="submit" value="Ask!">
</form> %>

<form method="get" action="/answer" class="row row-cols-lg-auto m-4" >
  <div class="col-8">
    <div class="input-group">
      <input type="text" name="key" class="form-control">
    </div>
  </div>

  <div class="col-4">
    <button type="submit" class="btn btn-primary">Ask</button>
  </div>
</form>
